@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');

ion-content{
    --background: #c97339;

    .header{
        padding: 0 12vw;
        margin-top: 2em;
        color: #fff;
        h3{
            font-size: 1.1rem;
            color: #9d9bef;
            span{
                color: #fff;
            }
        }
        h1{
            font-size: 1.5rem;
            font-weight: 300;
        }
        h2{
            font-family: 'DM Serif Display', serif;
            color: #e9e3e3;
            font-size: 45px;
            text-align: center;
            margin-bottom: 50px;
        }
    }
    .form{
        padding: 0 12vw;
        margin-top: 20px;
        margin-bottom: 50px;
        ion-input {
            --background: #b87d55cb;
            --padding-start: 33px;
            height: 55px;
            --border-radius: 25px;
            margin-top: 8px;
            --placeholder-color: #ffffff;
            --color: #fff;
        }
    }

    .button{
        width: 68vw;
        background-color: #ff987b;;
        --background: #ff987b;
        margin-top: 60px;
        color: rgb(255, 255, 255);
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 500;
        justify-content: flex-end;
        ion-icon{
            margin-left: 30px;
        }

    }

    .footer{
        color: #fff;
        padding: 0 12vw;
        margin-top: 50px;
        margin-left: 18%;
        h3{
            font-size: 1rem;
            font-weight: 400;

            span{
                font-size: 1.2rem;
                color: #ff987b;
                font-weight: 500;
            }
        }
    }
}