
<ion-content>
  <form [formGroup]="formLogar" (ngSubmit)="submitForm()">
  <div class="header">
    <h2>Garage</h2>
    <h1>Faça login<br>Para Continuar</h1>
  </div>
  <div class="form">
    <ion-input type="email" placeholder="Email" formControlName="email" ></ion-input>
    <span *ngIf="formLogar.get('email')?.touched && formLogar.get('email')?.errors?.['required']">Email é obrigatorio</span><br>
    <span *ngIf="formLogar.get('email')?.dirty && formLogar.get('email')?.errors?.['email']">Formato de Email Invalido</span>
    
    <ion-input type="password" placeholder="Senha" formControlName="senha"></ion-input>
    <span *ngIf="formLogar.get('senha')?.touched && formLogar.get('senha')?.errors?.['required']">Senha é obrigatoria</span><br>
    <span *ngIf="formLogar.get('senha')?.dirty && formLogar.get('senha')?.errors?.['minlength']">Senha mínimo 6 dígitos</span>
  </div>
  <ion-button class="button" type="submit" shape="round" style=" margin-top: 2px;border: none;">Login</ion-button>
  <ion-button class="buttonG" (click)="logarComGoogle()" shape="round"><ion-icon  slot="start" name="logo-google"></ion-icon>Entrar com Google</ion-button>
  <ion-button class="buttonGh" (click)="logarComGithub()" shape="round"><ion-icon slot="start" name="logo-github"></ion-icon>Entrar com GitHub</ion-button>
  <div class="footer">
    <h3 routerLink="/irParaSignUp">Não Possui uma Conta? <a  (click)="irParaSignUp()">Criar</a></h3>
  </div>
</form>
</ion-content>
